html{
  height: 100%;
}
body {
  background: #faf6ec;
  height: 100%;
}
nav.navbar-material {
  background: #584b4f;
  border: none;
  box-shadow: none;
}
.navbar-material .nav-wrapper {
  background: #584b4f;

}

.nav-wrapper a{
  color: #69f0ae;
}
.navbar-material .nav-wrapper > ul > li > a {
  color: white;
}
.navbar-material .nav-wrapper > ul > li > a :hover{
  color: #69f0ae ;
}
.navbar-material .nav-wrapper .brand-logo img {
  height: 64px;
  color: #69f0ae;
}
.navbar-material .nav-wrapper .button-collapse i {
  color: white;
}

.brand-logo{
  margin-left: 10px;
}
@media (max-width: 600px) {
  .navbar-material .nav-wrapper .brand-logo img {
    height: 56px;
  }
}

#logo
{
  height: 30px;
  margin-top: 20px;

}

#topMenu{
  margin-right: 200px;
}



#topMenu li :hover{
  color: #69f0ae ;
}

#adminMenu{
    background: #584b4f;
    margin: 0;
    padding: 10px;
    height: 60px;
}

#adminMenu li :hover{
    color:#69f0ae !important;
}


#adminMenu li{
    float: left;
    margin-left: 10px;
}

#mobile-demo li :hover{
  color: #69f0ae ;
}

#mobile-demo{
  background-color: #584b4f;
}


.welcome{
  padding: 20px;

  height: 1000px;
  background-color: #b5d7bf;

}
.subWelcome{
    z-index: 1;

    border-radius: 10px;
}
.pes{
  padding: 5px;
  margin: 5px;

  border-radius: 10px;
}

#welcomeMain{
  background-color: #b5d7bf;
}

#login{
  width: 80%;
  padding: 20px;
  margin: 20px auto 10px auto;
  background-color: white;
  border-radius: 5px;
  display: block;
  z-index: 100;
}

.masContenido{
  display: block;
}

#signIn{
  width: 80%;

}

header{
  background-color: #584b4f;
}


main{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;

}

footer {
  height: auto;
  background-color: #584b4f;
}

.flexigrid{
  margin: 10px auto 10px auto;
  width: 80% !important;
}

.personalInfo{

  padding-left: 20px;
  padding-right: 20px;

}

th{
    background-color: #69f0ae;
}

.personalInfo table{
width: 80%;
margin: 10px auto 10px auto;
border: solid 1px #2E484D;
background-color: white;
}

.contenido{
  padding: 20px;
}

.card{

  clear: both;

}

.formAgregar{
  margin: 50px auto 10px auto;
  width: 70%;
}

.susHeader{
  width: 100%;
  background-color: #b5d7bf;
  text-align: center;
  padding: 30px;
}

.sectionHeader{
  width: 100%;
  background-color: #b5d7bf;
  text-align: center;
  padding: 30px;
  margin: 0;
}

.validationErrors{
/*  border: solid 1px red;*/
  color: red;
  border-radius: 5px;
  padding-left: 20px;
  background-color: #ffe5e5;
}

.disponibles{
  margin: 10px auto 10px auto;
}

.cartas{
margin: 0 auto;

}
